*{
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;

}
.topnav{
  background-color: black;
  overflow: hidden;
}
.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration:none;
  font-size: 18px;
}
.topnav a:hover{
  background-color: white;
  color:black;
}
header:hover{
  background-color:blue;
color:white;
padding: 40px;
}
header {
  background-color:lightblue;
  padding: 30px;
  text-align: center;
  font-size: 60px;
  color:black;
}
#sidenavigation {
  float: left;
background-color:;
width: 30%;
height: 300px;}
#navigation{
  list-style: none;
  color: white;
}
li{
  height: 45px;
}
a{
  color: white;
  padding: 10px;
}
article{
  background-color:brown;
  color: white;
  height: 300px;
  float: right;
  width: 70%;
}
footer p{
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
}
